:root {
  background-color: #1c1d20;
  color: #fafafa;
}

body {
  font-family: Inter Tight, Georgia, Times, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.js-hidden {
  display: none;
}
section {
  padding-top: 82px;
  padding-bottom: 82px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 32px;
}
